#quicksearch input[type="text"] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#quicksearch input[type="submit"] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.help-to-site a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 3px #874300;
    -webkit-box-shadow: 0 2px 3px #874300;
    box-shadow: 0 2px 3px #874300;
}
.help-to-site a:active {
    -moz-box-shadow: inset 0 1px 4px #b26f00;
    -webkit-box-shadow: inset 0 1px 4px #b26f00;
    box-shadow: inset 0 1px 4px #b26f00;
}
.side-block h2 a.show-all {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.side-block h2 a.show-all:active {
    -moz-box-shadow: inset 0 1px 3px #bf7900;
    -webkit-box-shadow: inset 0 1px 3px #bf7900;
    box-shadow: inset 0 1px 3px #bf7900;
}
.sorting-switches li.active a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.article-comments h2 span {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.bl-pagination a:link,
.bl-pagination span.current {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.comments-block h2 a.show-all {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.comments-block h2 a.show-all:active {
    -moz-box-shadow: inset 0 1px 3px #bf7900;
    -webkit-box-shadow: inset 0 1px 3px #bf7900;
    box-shadow: inset 0 1px 3px #bf7900;
}

.help-to-site a:link,
.help-to-site a:visited {
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.help-to-site a:hover {
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.help-to-site a:active {
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}