.history-nav {
  text-align: center;
  position: fixed;
  transition: top .3s ease-out;
  z-index: 99;
}

.history-nav li {
  padding: 2px 0;
}

.history-nav a {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  display: inline-block;
  font-weight: 600;
  color: #bfc1c3;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.4;
  display: inline-block;
  font-size: 18px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
}

.history-nav a:hover {
  color: #a8a8a8;
}

.history-nav a.active {
  font-weight: bold;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  border-bottom: 1px dotted transparent;
  color: #f94125;
}

.history-container {
  position: fixed;
  top: 120px;
  left: 35%;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.img-border {
  border: solid 10px black;
}

.drop-cap::first-letter {
  -webkit-initial-letter: 4;
          initial-letter: 4;
  font-weight: bold;
  font-size: 2em;
  font-family: serif;
}

.text-justify {
  text-align: justify
}

.history-text {
  font-size: 16px;
}