.black {
  color: rgba(0, 0, 0, 0.87);
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.87) !important;
}

.color-embrio {
  color: #BD63D4;
}

.bg-embrio {
  background-color: #BD63D4 !important;
}

.bg-embrio-2  {
  background-color: #8805A8 !important;
}

.bg-embrio-3  {
  background-color: #58026D !important;
}

footer {
  height: auto;
  color: white;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-white a {
  color: white !important;
}

.navbar-fixed {
  height: 100px !important;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  height: 100px !important;
}

.nav-wrapper {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}

.nav-wrapper .brand-logo,
.nav-wrapper a {
  color: rgba(0, 0, 0, 0.87);
}

.nav-center {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.pt-50p {
  padding-top: 50%;
}

#map {
  height: 400px;
  width: 100%;
}

.btn-round {
  cursor: pointer;
  border-radius: 2em;
  border: 1pt solid rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  padding: 0.5em 2em;
}

.btn-round:hover,
.btn-round.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.history-block {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #BD63D4;
  color: white;
}

.photo_history {
  background-image: url("/assets/imgs/photo_history_bg.jpg");
  background-size: cover !important;
  /* background-size: auto 100%; */
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #cccccc;
}

.text-right {
  text-align: right;
}

.border-purple {
  border: 48px solid #BD63D4;
}