main {
  margin: auto;
}

.timeline div {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  -o-border-image: linear-gradient(to right, #616161 0%, #ECEFF1 100%);
  border-image: linear-gradient(to right, #616161 0%, #ECEFF1 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 40px;
  padding-right: 40px;
  counter-increment: section;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
}
.timeline div:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.35em;
  width: 1.35em;
  background-color: rgba(0, 0, 0, 0.87);
  text-align: center;
  line-height: 0.6em;
  color: white;
  font-size: 2em;
}

.timeline div:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}
.timeline div:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
}

.timeline div:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}
.timeline div:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
}

.timeline div:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.timeline div:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
